h1{
    text-align: center;
    background-color: bisque;
    color: brown;
    margin-bottom: 0px;
    padding: 25px 0px;
}

#acceuil{
    text-align: center;
    /* width: auto; */
    background-color: cadetblue;
    height: auto;
    padding-bottom: 4rem;
}

#titreaccueil{
    padding-top: 3rem;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 4rem;
}

#selection p{
    background-color: grey;
    padding: 1rem 2rem;
    width: 12rem;
    margin-left: auto;
    margin-right: auto;
}

#selection p:hover{
    background-color: khaki;
}

section {
    text-align: center;
    display: flex;
    justify-content: center;
    width: auto;
    background-color: cadetblue;
     }

#textPendu {
    height: 80%;
}

#infos{
    padding: 50px 15px;
}

#lettresManquantes{
    font-size: 4rem;
    font-weight: bold;
}

#textemot{
    font-size: 2rem;
    margin-bottom: 0px;
}

#mot{
    font-size: 3rem;
}

h2{
    margin-top: 40px;
}

h3 span{
    color:darkred;
}

#badLetter{
    margin-top: 3rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: green;
}

#jeuPerdu{
    margin-top: 3rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: red;
}

#jeuGagne{
    margin-top: 3rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: royalblue;
}